* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", "Helvetica Neue";
}



#title {
    background-color: aquamarine;
    /* color: white; */
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 3rem;
}

.navbar {
    padding-bottom: 2.5rem;
}

.navbar.item {
    padding: 0 18px;
}

.nav-link {
    color: black;
    font-weight: bolder;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.Download-button {
    margin: 5% 3% 5% 0;
}

.image {
    transform: rotate(15deg);
}

.row {
    padding: 30px;
}

.icons {
    font-size: 50px;
    color: aquamarine;
}

.para {
    font-family: 'Montserrat-Bold';
    /* font-size: 2.5rem; */
    font-weight: bolder;
    color: black;
}

#testimonials {
    text-align: center;
    background-color: aqua;
    padding: 7% 15%;
}

.testimonial-image {
    border-radius: 700%;
    width: 300px;
    margin: 20px;

}

#press {
    background-color: aqua;
    display: flex;
    align-items: center;
    padding-left: 70px;
}

#press img {
    width: 20%;
}

#pricing {
    padding: 100px;
    text-align: center;

}

.pricing-coloum {
    padding: 2% 3%;
}
#cta{
    display: flex;
    align-items: center;
    padding: 30px;
    background-color:  aquamarine;
    gap: 40px;
   
}
#footer{
    align-items: center;
    background-color:  aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
